*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;

}

body{
    background:#f7f8fc;
}

.page-title{
    font-size:32px;
    font-weight:700;
    color:#111827;
}

.page-subtitle{
    color:#6b7280;
    margin-top:4px;
}

.table-card{
    background:white;
    border-radius:18px;
    box-shadow:
    0 4px 20px rgba(0,0,0,.05);

    overflow:hidden;
}

.top-actions{
    display:flex;
    justify-content:space-between;

    align-items:center;
    margin-top:50px;
    margin-bottom:20px;
}

.search-box{
    width:320px;
}

.search-box input{
    border-radius:12px;
}

.btn-add{
    background-color:#5b4df7;
    color:white;
    border:none;
    border-radius:12px;
    padding:10px 20px;
    font-weight:600;
}

.btn-add:hover{
    background:#4738f5;
    color:white;
}

.btn-export{
    border-radius:12px;
    border: 1px solid #c1c0c0;
    padding:10px 18px;
    font-weight:500;
}

.table{
    margin-bottom:0;
}

.table thead{
    background:#fafafa;
}

.table th{
    color:#6b7280;
    font-size:14px;
    font-weight:600;
    padding:18px;
}

.table td{
    vertical-align:middle;
    padding:18px;
    font-size:14px;
}

.student-name{
    font-weight:600;
}

.action-btn{
    border:none;
    background:none;
    font-size:18px;
}

.edit-btn{
    color:#5b4df7;
}

.delete-btn{
    color:#ef4444;
}

.table tbody tr:hover{
    background:#fafbff;
}